
body {
    background-color: #f9f4f2;
  }

  .material-icons {
    font-size: 60px;
    position: absolute;
    top: 0;
    left: 0;
  }


  .logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: auto;
  }

  img {
    width: 10%;
    height: auto;
  }

  span {
    color: rgb(49, 28, 18); 
    font-family: 'Montserrat', sans-serif; 
    font-size: 80px; 
    letter-spacing: 30px;
    font-weight: lighter;
    position: absolute; 
    top: 13%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }

  span {
    display: block; 
    text-align: center; 
  }

  .imagenes {
    display: flex;
    margin-top: 220px; 
    
  }
  
  .imagenes img {
    width: 33.33%; 
    height: auto; 
  }

  
  